{% extends "base.html" %}

{% block title %}Survey Form{% endblock %}

{% block content %}

    <header>
        <h1>{{ survey_data.survey_name }}</h1>
    </header>

    <form method="POST" action="/submit_response/">
    {% csrf_token %}

        <input type="hidden" name="surveyID" value="{{ survey_data.survey_id }}" />

        {% for question in survey_questions %}

        <h3>{{ question.question_text }}</h3>

        {% if question.question_type == 'dropdown' %}
            <fieldset id="{{ question.question_id }}">
                <select>
                {% for answer in question.getAnswers %}
                    <option name="{{ question.question_id }}" value="{{ answer.answer_id }}">{{ answer.answer_text }}</option>
                {% endfor %}
                </select>
            </fieldset>

        {% else %}
            <fieldset id="{{ question.question_id }}">
                {% for answer in question.getAnswers %}
                    <label><input type="{% if question.question_type == 'multi_choice' %}radio{% elif question.question_type == 'select_all'%}checkbox{% else %}hidden{% endif %}" name="{{ question.question_id }}" value="{{ answer.answer_id }}">{{ answer.answer_text }}</label><br />
                {% endfor %}
            </fieldset>
        {% endif %}

        {% endfor %}

        <input type="submit" value="Submit!" style="margin-top: 30px;" />

    </form>

{% endblock %}